<h1>Your courses</h1>

<% @courses.each do |course| %>
  <li>
    <%= link_to course.name, course %>
  </li>
  <% if current_user.attend?(course.id) %>
    <%= form_for(current_user.get_attend(course.id), method: :delete) do |f| %>
       <%= f.submit "Cancel today" %>
    <% end %>
  <% else %>
    <%= form_for(@attendance, method: :create) do |f| %>
       <%= f.hidden_field :user_id, :value => current_user.id %>
       <%= f.hidden_field :course_id, :value => course.id %>
       <%= f.submit "Attend today" %>
    <% end %>
  <% end %>
<% end %>



