<h1><%= @course.name %></h1>

<% if user_signed_in? %>
  <%= form_for(@course_detail) do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :course_id, :value => @course.id %>

    <%= f.submit %>
  <% end %>
<% end %>


<h2>Member</h2>
<% @course.users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
