<h1><%= @course.name %></h1>

<% if current_user.join?(@course.id) %>
  <%= form_for(@course_detail, method: :delete) do |f| %>
    <%= f.submit "Leave" %>
  <% end %>
<% else %>
  <%= form_for(@course_detail) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.submit "Join" %>
  <% end %>
<% end %>


<h2>Members</h2>
<% @course.users.each do |user| %>
  <li><%= user.name %> <% if current_user.attend?(@course.id) %> ✓ <% end %></li>
<% end %>

<h2><%= @current_month %> Attends</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <% @course.current_month_dates.each do |date| %>
        <th><%= date.day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
	<% @course.current_month_dates.each do |date| %>
	  <td>
	  <% if user.attend?(@course.id, date) %>
	    ✓ 
	  <% end %>
	  </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
